.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 550px;
  height: 300px;
  background-color: rgb(32, 40, 151);
  border-radius: 8px;
  display: flex;
  box-shadow: 4px 14px 35px -4px rgba(0, 0, 0, 0.75);
}

.left {
  width: 50%;
  color: white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.first {
  padding-bottom: 20px;
}

.first > span {
  font-size: 20px;
}

.right {
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.right button {
  background-color: transparent;
  color: white;
  border: 1px solid rgb(0, 4, 56);
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  box-shadow: 4px 14px 35px -4px rgba(0, 0, 0, 0.75);
}
.right button {
  cursor: pointer;
}

.small-num {
  font-size: 20px;
}

.question {
  font-size: 20px;
  padding-top: 10px;
}

.center {
  width: 550px;
  height: 300px;
  background-color: rgb(32, 40, 151);
  border-radius: 8px;
  box-shadow: 4px 14px 35px -4px rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
